body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #87CEEB; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
}

.input-container {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    background: linear-gradient(135deg, #28a745 0%, #218838 100%);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: linear-gradient(135deg, #218838 0%, #1e7e34 100%);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(28, 140, 53, 0.5);
}

button i {
    margin: 0;
    font-size: 1em;
}

.card-container {
    width: 100%;
    max-width: 400px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.weather-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-info {
    font-size: 1rem;
}

.weather-info div {
    margin-bottom: 5px;
}

.weather-icon img {
    width: 100px;
}

.weather-temp {
    font-size: 2.5em;
    font-weight: bold;
}

.weather-status {
    color: #868B94;
}